body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    background: #222;
}

.menu ul {
    all: unset;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background: #222;
}
.menu ul li {
    position: relative;
}
.menu ul li a {
    display: block;
    padding: 10px;
}

/* Style the submenus */
.menu ul li ul {
    position: absolute;
    display: none;
    flex-direction: column;
}

.menu ul ul li {
    width: max-content;
    min-width: 100%;
    max-width: 200px;
}

.menu ul a {
    all: unset;
    color: #fff;
    cursor: pointer;
}

.menu ul a:hover {
    background: 
rgba(0, 0, 0, 0.7);
}

.menu ul li:hover > ul {
    display: flex; /* Show submenus on hover */
}

/* Style the third-level submenu */
.menu ul ul ul {
    top: 0;
    left: 100%;
}

.slideshows #HubbleDiv, #JamesDiv, #ChandraDiv, #SpitzerDiv, #KeplerDiv {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 650px;
}

.slideshows #HubbleDiv {
    background-image: url(../Resources/Hubble/_111493221_s125e012033_1.jpg);
}

.slideshows #JamesDiv {
    background-image: url(../Resources/JamesWebb/jwst_poster02.jpg);
}

.slideshows h2 {
    color: white;
    font-size: 50px;
    text-align: left;
    font-family: "inter", sans-serif;
    font-weight: extra-bold;
}

.slideshows p {
    color: white;
    font-size: 20px;
    text-align: left;
    font-family: "Public Sans Web", sans-serif;

}

.slideshows #HubblePrevButton, #JamesPrevButton {
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "Public Sans Web", sans-serif;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.slideshows #HubbleNextButton, #JamesNextButton {
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "Public Sans Web", sans-serif;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    align-items: right;
}

.home h2{
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* .home p{
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
} */

.home #TelescopesPrevButton, #TelescopesNextButton{
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.home .PopularTelescopes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: baseline;
}

.home .TelescopesList{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 50px;
}

.home .description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    height: 400px;
}

.home #TelescopesDiv{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 400px;
    width: 400px;
    margin-bottom: 90px;
}

.home .bigDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 90px;
}

.home .imageDiv{
    background-image: url(../Resources/JamesWebb/1325386.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 300px;
    width: 300px;
}

.home .div1{
    background-image: url(../Resources/Kepler/oFJzShZ98q95dEJNFy8HdW.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 500px;
}

.home li{
    text-align: left;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.home #words{
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}


.about .h1{
    text-align: left;
    font-size: 50px;
    font-family: 'inter', sans-serif;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about .h2{
    text-align: left;
    font-size: 50px;
    font-family: 'inter', sans-serif;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about .p{
    text-align: center;
    font-size: 20px;
    font-family:'Public Sans Web', sans-serif;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about .imageCard1, .imageCard2, .imageCard3 {
    width: 400px; /* Increase the width */
    height: 600px; /* Increase the height */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.about .imageCard1{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)),url(../Resources/JamesWebb/jwst_poster02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 2rem;
    flex: 0 1 auto;
    margin-right: 1rem; /* Add margin-right to create space */
}

.about .imageCard2{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)),url(../Resources/Hubble/hubble-30th-veil-nebula.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 2rem;
    flex: 0 1 auto;
    margin-right: 1rem; /* Add margin-right to create space */
}

.about .imageCard3{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)),url(../Resources/JamesWebb/Carina-Nebula.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 2rem;
    flex: 0 1 auto;
    margin-right: 1rem; /* Add margin-right to create space */
}

.about .grid-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    justify-content: center;
    align-items: center;
}

.about .text{
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem;
}

.about .imageDiv{
    background-image: url(../Resources/ChandraX-ray/XFV8msbEKcKTCACcMzUVMd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 600px; /* Increase the width */
    height: 400px;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.about .head{
    width: 600px; /* Increase the width */
    height: 400px;
    display: flex;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    flex-direction: column;
}

.about .grid-row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}

.hubblePage .h1{
    text-align: left;
    font-size: 50px;
    font-family: 'inter', sans-serif;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hubblePage .h2{
    text-align: left;
    font-size: 50px;
    font-family: 'inter', sans-serif;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hubblePage .p{
    text-align: center;
    font-size: 20px;
    font-family:'Public Sans Web', sans-serif;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hubblePage .imageDiv2{
    background-image: url(../Resources/Hubble/heic0601a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 600px; /* Increase the width */
    height: 400px;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.hubblePage .head{
    width: 600px; /* Increase the width */
    height: 400px;
    display: flex;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    flex-direction: column;
}

.hubblePage .grid-row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}

.hubblePage .imageDiv3{
    background-image: url(../Resources/Hubble/hubble-30th-veil-nebula.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 600px; /* Increase the width */
    height: 400px;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.hubblePage .imageDiv{
    background-image: url(../Resources/Hubble/STScI-01EVSTMRKJVY7Y4Y2QXNCH2TFH.png);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 900px;
}

.hubblePage .bigDiv{
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
}
/*****************************************************************************************/

.jamesPage .h1{
    text-align: left;
    font-size: 50px;
    font-family: 'inter', sans-serif;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.jamesPage .h2{
    text-align: left;
    font-size: 50px;
    font-family: 'inter', sans-serif;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.jamesPage .p{
    text-align: center;
    font-size: 20px;
    font-family:'Public Sans Web', sans-serif;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.jamesPage .imageDiv2{
    background-image: url(../Resources/JamesWebb/Carina-Nebula.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 600px; /* Increase the width */
    height: 400px;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.jamesPage .head{
    width: 600px; /* Increase the width */
    height: 400px;
    display: flex;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    flex-direction: column;
}

.jamesPage .grid-row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}

.jamesPage .imageDiv3{
    background-image: url(../Resources/JamesWebb/weic2212a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 600px; /* Increase the width */
    height: 400px;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.jamesPage .imageDiv{
    background-image: url(../Resources/JamesWebb/UCFedHhDd4r29qjKmvNE3X.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 900px;
}

.jamesPage .bigDiv{
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
}

.facts .videoPlayer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.facts h2{
    text-align: center;
    font-size: 50px;
    font-family: 'inter', sans-serif;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.facts li{
    text-align: left;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.videosPage .videoPlayer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}


.media .mediaGrid-row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}

.media .mediaImageDiv1{
    background-image: url(../Resources/Hubble/heic0601a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 600px; /* Increase the width */
    height: 400px;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.media .mediaImageDiv2{
    background-image: url(../Resources/Hubble/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 600px; /* Increase the width */
    height: 400px;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.media .mediaImageDiv3{
    background-image: url(../Resources/JamesWebb/Carina-Nebula.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 600px; /* Increase the width */
    height: 400px;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.media .mediaImageDiv4{
    background-image: url(../Resources/Spitzer/Crab_Nebula.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 600px; /* Increase the width */
    height: 400px;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.media .mediaImageDiv5{
    background-image: url(../Resources/JamesWebb/UCFedHhDd4r29qjKmvNE3X.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 500px;
}

.media .mediaGrid-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    justify-content: center;
    align-items: center;
}

.media .mediaImageCard1, .mediaImageCard2, .mediaImageCard3 {
    width: 400px; /* Increase the width */
    height: 600px; /* Increase the height */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.media .mediaImageCard1{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)),url(../Resources/ChandraX-ray/intro-import.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 2rem;
    flex: 0 1 auto;
    margin-right: 1rem; /* Add margin-right to create space */
}

.media .mediaImageCard2{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)),url(../Resources/Kepler/oFJzShZ98q95dEJNFy8HdW.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 2rem;
    flex: 0 1 auto;
    margin-right: 1rem; /* Add margin-right to create space */
}

.media .mediaImageCard3{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)),url(../Resources/JamesWebb/weic2212a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 2rem;
    flex: 0 1 auto;
    margin-right: 1rem; /* Add margin-right to create space */
}